<p>{{ name }},<br/>Un nouveau défi vient d'être tiré au sort :</p>
<p><b>{{ current.challenge.name }}</b><br/>{{ current.challenge.description }}</p>

<p>Ce défi sera à réaliser le {{ current.dateEnd|date("d/m/Y") }}.</p>
