{% extends 'base.html.twig' %}

{% block body %}

    {% if current is not null %}
        {{ dump(current) }}
    {% endif %}

    <div class="boutons">
        <a href="{{ path("challenge_new") }}">+</a>
        {% if current is null %}
            <a href="{{ path("session_new") }}">+</a>
        {% endif %}
    </div>
{% endblock %}
