{% extends 'base.html.twig' %}

{% block body %}

<div class="form_block">
    <h1>Nouveau Challenge</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}
</div>
{% endblock %}
